.empty__message {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}

.video__grid {
  margin-top: 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
