extends ../template/base.pug
include ../mixins/video

block content 
    div.video-grid 
        each info in videos
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
            +video(info)
        
        else 
            li.empty__message Not Found  ~!! 