extend ../template/base.pug
include ../mixins/video

block content
    div.profile__data
        if !loggedInUser.avatarUrl
            img.avatar(src="https://wetube-shinbi.s3.ap-northeast-2.amazonaws.com/img/notimage.png")
        else if loggedInUser.socialOnly == true
            img.avatar(src=loggedInUser.avatarUrl)
        else
            img.avatar(src=loggedInUser.avatarUrl)
        h3=user.name
        h4=user.email
    div.video__grid 
        each info in user.videos
            +video(info)
        else 
            span.empty__message No videos found